In [1]:
import pandas as pd

In [4]:
data  = pd.read_csv('animal_train.csv')

In [5]:
data.sample(12)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
488254,488254,0.0,0.0,0.0,F,N,Red,Triangle,Axolotl,India,...,34a39d3c0,1.0,Expert,Lava Hot,m,O,Ay,7.0,8.0,0
326521,326521,1.0,0.0,0.0,F,N,Blue,Square,Axolotl,India,...,02cd34e6d,1.0,Grandmaster,Lava Hot,n,C,HF,4.0,7.0,0
366896,366896,0.0,0.0,0.0,F,N,Red,Circle,NaN,Costa Rica,...,9fcf422f2,3.0,NaN,Warm,n,O,dp,1.0,12.0,0
505539,505539,0.0,0.0,0.0,T,Y,Red,Polygon,Hamster,Finland,...,5a726b2c8,1.0,Novice,Boiling Hot,f,U,BL,5.0,9.0,0
62277,62277,0.0,0.0,0.0,T,Y,Red,Triangle,Snake,Finland,...,ace14dcf8,1.0,Master,Lava Hot,n,X,cR,7.0,8.0,1
113037,113037,0.0,0.0,0.0,F,N,Blue,Square,Hamster,Costa Rica,...,8523215c0,3.0,Contributor,Warm,c,X,NaN,7.0,3.0,0
59970,59970,0.0,0.0,0.0,F,N,Red,Triangle,Axolotl,India,...,86b0155d1,2.0,Novice,Boiling Hot,b,Q,yK,5.0,1.0,0
134613,134613,0.0,0.0,NaN,F,N,Red,Square,Hamster,Russia,...,1d91d712d,2.0,Master,Freezing,NaN,O,cg,3.0,7.0,0
288716,288716,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Costa Rica,...,920d01977,3.0,Novice,Freezing,NaN,O,LS,7.0,11.0,0
80890,80890,0.0,0.0,0.0,NaN,N,Red,Polygon,Cat,Finland,...,053cf1f9e,3.0,Novice,Cold,c,F,fe,3.0,3.0,0
391449,391449,0.0,0.0,0.0,F,N,Red,Circle,Axolotl,Costa Rica,...,b344f8619,1.0,Contributor,NaN,b,S,LS,5.0,12.0,0
537484,537484,0.0,0.0,1.0,T,NaN,Red,Polygon,Hamster,Russia,...,905109f1c,1.0,Novice,Freezing,a,K,nS,3.0,12.0,0

In [36]:
new = data.copy()

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 25 columns):
id        600000 non-null int64
bin_0     582106 non-null float64
bin_1     581997 non-null float64
bin_2     582070 non-null float64
bin_3     581986 non-null object
bin_4     581953 non-null object
nom_0     581748 non-null object
nom_1     581844 non-null object
nom_2     581965 non-null object
nom_3     581879 non-null object
nom_4     581965 non-null object
nom_5     582222 non-null object
nom_6     581869 non-null object
nom_7     581997 non-null object
nom_8     582245 non-null object
nom_9     581927 non-null object
ord_0     581712 non-null float64
ord_1     581959 non-null object
ord_2     581925 non-null object
ord_3     582084 non-null object
ord_4     582070 non-null object
ord_5     582287 non-null object
day       582048 non-null float64
month     582012 non-null float64
target    600000 non-null int64
dtypes: float64(6), int64(2), object(17)
memory usage: 114.4+ MB

In [13]:
new = new.dropna()

In [17]:
cat_col = new.select_dtypes(include = 'O')

In [18]:
from sklearn.preprocessing import OrdinalEncoder

In [20]:
oe = OrdinalEncoder()

In [21]:
tranform_data = oe.fit_transform(cat_col)

In [22]:
dataframe = pd.DataFrame(tranform_data, columns=list(cat_col.columns))

In [35]:
new

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,3.0,5.0,...,27.0,3.0,0.0,3.0,2.0,20.0,56.0,6.0,3.0,0
6,6,0.0,0.0,0.0,1.0,0.0,0.0,5.0,2.0,4.0,...,1125.0,1.0,4.0,2.0,7.0,4.0,62.0,5.0,6.0,0
7,7,0.0,0.0,1.0,0.0,0.0,2.0,5.0,1.0,0.0,...,1948.0,3.0,0.0,3.0,7.0,13.0,121.0,1.0,1.0,0
10,10,0.0,0.0,1.0,0.0,0.0,2.0,5.0,4.0,5.0,...,365.0,1.0,1.0,2.0,12.0,20.0,163.0,7.0,5.0,1
11,11,0.0,0.0,1.0,0.0,1.0,2.0,5.0,5.0,4.0,...,1871.0,1.0,3.0,0.0,14.0,19.0,21.0,2.0,8.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599990,599990,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,5.0,0
599991,599991,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,1.0,8.0,0
599992,599992,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,7.0,12.0,0
599993,599993,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,7.0,12.0,0
599997,599997,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,7.0,5.0,0

In [23]:
new[dataframe.columns] = dataframe

In [26]:
feature_data = new.drop(columns = ['id', 'target'])

In [48]:
target_data.shape

(298042,)

In [53]:
feature_data.fillna(0, inplace= True)

In [33]:
feature_data.isna().sum()

bin_0         0
bin_1         0
bin_2         0
bin_3    150250
bin_4    150250
nom_0    150250
nom_1    150250
nom_2    150250
nom_3    150250
nom_4    150250
nom_5    150250
nom_6    150250
nom_7    150250
nom_8    150250
nom_9    150250
ord_0         0
ord_1    150250
ord_2    150250
ord_3    150250
ord_4    150250
ord_5    150250
day           0
month         0
dtype: int64

In [37]:
num_data = new.select_dtypes(exclude= ['O'])

In [27]:
target_data = new.target

In [28]:
from sklearn.model_selection import train_test_split

In [54]:
trainX, testX, trainY, testY = train_test_split(feature_data, target_data)

In [55]:
from sklearn.ensemble import RandomForestClassifier

In [56]:
re = RandomForestClassifier()

In [57]:
re.fit(trainX, trainY)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [58]:
pred = re.predict(testX)

In [59]:
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score

In [62]:
f1_score( pred, testY)

0.025575101488497974

In [61]:
accuracy_score(testY, pred)

0.8067131027633504

In [63]:
confusion_matrix(y_pred= pred, y_true= testY)

array([[59920,   550],
       [13852,   189]], dtype=int64)

In [65]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [66]:
dt = DecisionTreeClassifier()
lr  = LogisticRegression()

In [67]:
dt.fit(trainX, trainY)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [68]:
dt.score(testX,testY)

0.7500905906510448

In [69]:
pred2 = dt.predict(testX)

In [70]:
confusion_matrix(y_pred= pred2, y_true= testY)

array([[54251,  6219],
       [12402,  1639]], dtype=int64)

In [71]:
accuracy_score(testY, pred2)

0.7500905906510448

In [72]:
lr.fit(trainX, trainY)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [73]:
lr.score(testX, testY)

0.8115580249895988

In [74]:
pred3 = lr.predict(testX)

In [75]:
confusion_matrix(y_pred= pred3,y_true= testY)

array([[60470,     0],
       [14041,     0]], dtype=int64)

In [76]:
accuracy_score(pred3, testY)

0.8115580249895988

In [77]:
from sklearn.linear_model import Lasso, Ridge

In [78]:
le = La()

In [79]:
le.fit(trainX, trainY)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [81]:
le.score(testX, testY)

-2.851911145906882e-06

In [83]:
data = pd.read_csv('ieee_train.csv')

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB